<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">CloudClub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link <% if (selected == '/') {%> <%- 'active' -%> <%}%>" href="/" <% if (selected=='/' ) {%>
                        <%-'tabindex="-1" aria-disabled="true"'-%>
                            <%}%> >Homepage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if (selected == 'teampage') {%> <%-'active'-%> <%}%>" href="/teampage" <% if (selected=='teampage' ) {%>
                        <%-'tabindex="-1" aria-disabled="true"'-%>
                            <%}%> >The Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if (selected == 'projects') {%> <%-'active'-%> <%}%>" href="/projects" <% if (selected=='projects' ) {%>
                        <%-'tabindex="-1" aria-disabled="true"'-%>
                            <%}%> >Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if (selected == 'forum') {%> <%-'active'-%> <%}%>" href="/forum" <% if (selected=='forum' ) {%>
                        <%-'tabindex="-1" aria-disabled="true"'-%>
                            <%}%> >Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if (selected == 'api') {%> <%-'active'-%> <%}%>" href="/api" <% if (selected=='forum' ) {%>
                        <%-'tabindex="-1" aria-disabled="true"'-%>
                            <%}%> >API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" onclick='openInNewTab("https:\/\/github.com/CloudClub-uoft");'>GitHub</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a role="button" aria-pressed="true" class="nav-link <% if (selected == 'api') {%> <%-'active'-%> <%}%>" href="/profile" <% if (selected=='profile' ) {%>
                        <%-'tabindex="-1" aria-disabled="true"'-%>
                            <%}%> >My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link loginout" href=""></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<script>
    $(document).ready(function() {
        $.ajax({
            url: '/auth',
            type: 'GET',
            statusCode: {
                401: function(response) {
                    $('.loginout').text('Log In').attr('href', '/login?r=<%-(locals.selected || ' / ')-%>');
                },
                500: function(response) {
                    console.log(response.responseJSON.error);
                },
                200: function(response) {
                    $('.loginout').text('Log Out').attr('href', '/logout');
                    $('.email').text(response.email);
                }
            }
        })
    });
</script>