<!--data table-->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> <script type='text/javascript' src='https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js'></script> <script type='text/javascript' src='https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js'></script> <link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css'> <link rel='stylesheet' type='text/css' href='https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css'> -->

<body>
    <!-- Heading and Description of Forum Page -->
    <%- include('partials/forum-subheader') %>

        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay=2000
            stye="positon:absolute;">
            <div class="toast-header">
                <strong class="mr-auto" id="toasttitle"></strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body"></div>
        </div>

        <script>
            $(document).ready(function () {
            <%if (locals.tm) {%>
                <%if (ts == 'true') {%>
                        $('#toasttitle').text("Success!");
                <%} else {%>
                        $('#toasttitle').text("Error!");
                <%}%>
                        $('.toast-body').text(`<%- tm -%>`);
                    $('.toast').toast('show');
            <%}%>

            });
        </script>
        <div class="container">
            <div class="sorting">
                    <form id="sort" class="form-inline " action="/forum" method="GET">    
                        <select class="custom-select my-1 mr-sm-2" name="sortby" id="sortby">
                            <% if (sortby === 'newest') { %>
                                <option value="newest" selected>Newest First</option>
                            <% } else { %>
                                <option value="newest">Newest First</option>
                            <% } if (sortby === 'oldest') { %>
                                <option value="oldest" selected>Oldest First</option>
                            <% } else { %>
                                <option value="oldest">Oldest First</option>
                            <% } if (sortby === 'firstname') { %>
                                <option value="firstname" selected>Name</option>
                            <% } else { %>
                                <option value="firstname">Name</option>
                            <% } if (sortby === 'title') { %>
                                <option value="title" selected>Post Title</option>
                            <% } else { %>
                                <option value="title">Post Title</option>
                            <% } %>                            
                        </select>
                        
                        <label for="limit">
                            Show&nbsp
                            <select class="custom-select my-1 mr-sm-2" name="limit" id="limit">
                                <% if (limit == 10) { %>
                                    <option value="10" selected>10</option>
                                <% } else { %>
                                    <option value="10">10</option>
                                <% } if (limit == 25) { %>
                                    <option value="25" selected>25</option>
                                <% } else { %>
                                    <option value="25">25</option>
                                <% } if (limit == 50) { %>
                                    <option value="50" selected>50</option>
                                <% } else { %>
                                    <option value="50">50</option>
                                <% } %>                            
                            </select>
                            Entries
                        </label>

                        <input type="submit" id="submit-sort" class="sort-btn btn btn-success" value="Sort">
                    </form>
            </div>
            <div class="col">
                <table id="table_id" class="table reverse-false">
                    <thead>
                        <tr>
                            <th>Posts</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <% for (var i=0; i < data.length ; i++) { %>
                            
                            <tr>
                                <!-- Test post format. Could use some padding. -->
                                <td>
                                    <div class="list-group-item list-group-item-action">
                                        <div class="d-flex w-100 justify-content-between">
                                            <div class="d-flex w-80">
                                                <div class="d-flex flex-column justify-content-between">
                                                    <a href="/post?id=<%- data[i].postid -%>">
                                                        <h5 class="mb-1">
                                                            <%- data[i].subject -%>
                                                        </h5>
                                                    </a>
                                                    <!-- <p class="mb-1">Post description. </p> -->
                                                    <small class="text-muted"> Posted by <%- data[i].first -%> <%- data[i].last -%></small>
                                                </div>
                                            </div>
                                            <div class="d-flex w-30 justify-content-end"></div>
                                            <div class="d-flex flex-column justify-content-between">
                                                <small class="text-muted" style="padding: 0.5ch;">
                                                    <%- data[i].timestamp.toDateString() -%>
                                                </small>
                                                <div class="d-flex flex-column justify-content-between">
                                                    <% if (data[i].userid==user_id) { %>
                                                        <input type="submit" class="btn btn-sm btn-danger" id="pop"
                                                            value="Delete" data-toggle="modal" data-id="<%-data[i].postid%>"" onclick="id_to_delete=this.dataset.id;console.log(id_to_delete);" data-target="#myModal"/>
                                                        <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <% if (!data.length) { %>

                <div id="post-statistics-container">
                    No posts found.
                </div>
                <div class="pagination-container">
                   
                </div>

            <% } else { %>            

                <div id="post-statistics-container">
                    Showing posts <strong><%- offset + 1 -%></strong> to <strong><%- offset + data.length -%></strong> out of <strong><%- data[0].full_count -%></strong> total posts
                </div>
                <div class="pagination-container">
                    <% if (firstPage) { %>
                        <a class="pagination-button pagination-button-1 disabled" href="/forum?sortby=<%- sortby -%>&offset=0&limit=<%- limit -%>">First</a>
                        <a class="pagination-button pagination-button-2 disabled" href="/forum?sortby=<%- sortby -%>&offset=<%- Math.max(offset-limit,0) -%>&limit=<%- limit -%>">Previous</a>
                    <% } else { %>
                        <a class="pagination-button pagination-button-1" href="/forum?sortby=<%- sortby -%>&offset=0&limit=<%- limit -%>">First</a>
                        <a class="pagination-button pagination-button-2" href="/forum?sortby=<%- sortby -%>&offset=<%- Math.max(offset-limit,0) -%>&limit=<%- limit -%>">Previous</a>
                    <% } if (lastPage) { %>
                        <a class="pagination-button pagination-button-3 disabled" href="/forum?sortby=<%- sortby -%>&offset=<%- Math.max(Math.min(offset+limit,data[0].full_count),0) -%>&limit=<%- limit -%>">Next</a>
                        <a class="pagination-button pagination-button-4 disabled" href="/forum?sortby=<%- sortby -%>&offset=<%- Math.max(data[0].full_count-limit,0) -%>&limit=<%- limit -%>">Last</a>
                    <% } else { %>
                        <a class="pagination-button pagination-button-3" href="/forum?sortby=<%- sortby -%>&offset=<%- Math.max(Math.min(offset+limit,data[0].full_count),0) -%>&limit=<%- limit -%>">Next</a>
                        <a class="pagination-button pagination-button-4" href="/forum?sortby=<%- sortby -%>&offset=<%- Math.max(data[0].full_count-limit,0) -%>&limit=<%- limit -%>">Last</a>
                    <% } %>
                </div>
            
            <% } %>

        </div>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header ">
                        <h4 class="modal-title">Delete Post</h4>
                    </div>
                    <form id="formgroup" action="/deletepost?_method=DELETE" method="POST">
                        <div class="modal-body">
                            <p>Are you sure?</p>                            
                        </div>
                        <div class="modal-footer">
                            <input hidden id="btn-del" name="post_id"value="">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button id="report-btn" class="btn btn-danger" data-dismiss="modal" onclick="submit(this)">Yes</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        
</body>



<script type="text/javascript">

    var id_to_delete = null;

    function submit(e) {
       
        document.getElementById("btn-del").value = id_to_delete;
        document.getElementById("formgroup").submit();

    }

    document.getElementById("report-btn").addEventListener("click", submit);


    document.onload() //get dropdown list
    //set selected index from query parameter -> then display correct sortby

</script>

<style>
    .form-inline {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    .sorting {
        margin-left:1%;
    }
    .sort-btn {
        font-size:85%;
    }
    .submit-sort {
        padding: 2%;
    }
    .pagination-container, #post-statistics-container {
        margin-left:3%;
    }
    .pagination-container {
        display:inline-block;
        height:30px;
    }
    .pagination-button{
        padding:3px;
        margin:0;
        text-decoration: None;
    }

    .pagination-button:hover {
        text-decoration: None;
    }
    label {
        margin-right:5px;
    }
    a.disabled {
        pointer-events: none;
        cursor: default;
        color:grey;
    }

</style>