<!DOCTYPE html>
<html>
    <head>
        <br>
        <br>    
        <br>
        <br>
        <br>
        <title>Functions</title>
        <meta charset="UTF-8" />
        <style>
            table, th, td {
                border: 1px solid gray;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>

    <body>
        <h1>Functions</h1>
        <!-- Table for OpenWhisk -->
        <table>
            <tr>
                <th>Name</th>
                <th>Namespace</th>
                <th>Updated</th>
                <th>Link</th>
                <th>Delete</th>
            </tr>

            <% for (var i=0; i < result.length ; i++) { %>
            <tr>
                <td><%- result[i].name -%></td>
                <td><%- result[i].namespace -%></td>
                <td><%- result[i].updated -%></td>
                <a
                    href="<%-process.env.__OW_API_HOST-%>/api/v1/web/<%-result[i].namespace-%>/default/<%- result[i].name -%>"
                    ><%- result[i].name -%></a
                >
                <td>
                    <form id="delete_form" action="/deletefunction/<%- result[i].name -%>" method="post">
                        <input
                            type="submit"
                            id="delete_button"
                            name="delete_button"
                            value="DELETE"
                        />
                    </form>
                </td>
            </tr>
            <% } %>

        </table>


        <!-- Data for MySQL database

        <table>
            <tr>
                <th>User ID</th>
                <th>Function ID</th>
                <th>Function Name</th>
                <th>Function Contents</th>
                <th>Language</th>
                <th>Trigger Type</th>
                <th>Timestamp</th>
            </tr>

            <% for (var i=0; i < result.length ; i++) { %>
                <tr>
                    <td><%- result[i].user_id -%></td>
                    <td><%- result[i].function_id -%></td>
                    <td><%- result[i].function_name -%></td>
                    <td><%- result[i].function_contents -%></td>
                    <td><%- result[i].language -%></td>
                    <td><%- result[i].trigger_type -%></td>
                    <td><%- result[i].timestamp -%></td>
                </tr>
            <% } %>
            
        </table>
        -->

    </body>

</html>