<!--
    2021.3.6 16:38 EST Front-end team Leo Li
    1. Design the single post page
    2. Add temporary ejs statement in the form of < post.data >... because if i write the normal form (with %), ejs will throw an error.
-->

<body>
    <!-- Heading and Description of Forum Page -->
    <%- include('partials/forum-subheader') %>
        <!--The big container-->
        <div class="container">
            <!-- alert saying that the user does not have access to this page-->
            <% if(post==undefined){ %>
                <div class="alert alert-danger" role="alert">
                    <!--logo svg filled cross circle-->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg> Request Rejected<br> You don't have access to view this page or the post is not found!


                    <!--Internal Server Error-->
                </div>
                <% } %>
                    <% if(post !=undefined){ %>
                        <!--Loading animations-->
                        <div class="jumbotron" style="text-align:center">
                            <div class="container">
                                <div mane="userid">
                                    <!-- chenge the name to name="% post.body %" -->
                                    <h1>
                                        <%- post.subject -%>
                                    </h1><br>
                                </div>
                                <% var initial=email.substring(0,email.indexOf("@")) %>
                                    <% var url=`https://ui-avatars.com/api/?name=${initial}&background=random` %>
                                        <h5>
                                            <img class="img-thumbnail" width="10%" src="<%- url %>" ">
                                            <br>
                                            <%- email -%>
                                        </h5><br>
                                        <h3>
                                            <%- post.timestamp.toDateString() -%>
                                        </h3><br>
                            </div>
                        </div>

                        <!--Post content module-->
                        <div class=" panel panel-primary ">
                            <div class=" jumbotron ">
                                <h6>
                                    <%- post.body -%>
                                </h6>
                            </div>


                            <% } %>
                        </div>
                        <br>

                        <div style=" text-align:center ">
                            <div class=" row " style="justify-content: space-between">
                                <div class=" col-md-4 ">
                                    <a id=" a " name=" a " style=" text-decoration:none " class=" a btn btn-block
                                                btn-lg btn-info " href=" /forum "> <svg xmlns="
                                                http://www.w3.org/2000/svg " width=" 16 " height=" 16 " fill="
                                                currentColor " class=" bi bi-arrow-left-square-fill " viewBox=" 0 0 16
                                                16 ">
                                            <path
                                                d=" M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2
                                                2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0
                                                .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z " />
                                        </svg> Go back to the posts page
                                    </a>
                                </div>

                                <div class=" col-md-4" style="display: flex;flex-direction: row;">
                                    <div style="margin-right:5px;width: 100%; height: 100%;text-align: center">
                                    <button type=" button " id= "reportButton" class=" a btn btn-block btn-lg btn-warning"
                                                data-toggle="modal" data-target="#myModal"
                                    >Report Post</button>
                                    </div>
                                    <% if (post.userid === user_id) { %>
                                    <div style="width: 100%; height: 100%;text-align: center">
                                    <a type=" button " class=" a btn btn-block btn-lg btn-info"
                                            href="/editpost?id=<%- post.postid -%>">Edit Post</a>
                                    <% } %>
                                    </div>
                            </div>
                        </div>
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header ">
                                        <h4 class="modal-title">Report Post</h4>
                                    </div>
                                    <form id="formgroup" action="/report" method="POST">
                                        <div class="modal-body">
                                            <p>Please tell us the reason why you wish to report this post.</p>
                                            <textarea type="text" class="form-control" rows="5" id="comment"
                                                name="comment"></textarea>
                                            <input id="post_id" type="text" name="post_id" hidden
                                                value="<%- post.postid %>">
                                        </div>
                                        <div class="modal-footer">

                                            <button type="button" class="btn btn-default"
                                                data-dismiss="modal">Close</button>
                                            <button id="report-btn" class="btn btn-default"
                                                data-dismiss="modal">Submit</button>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay=2000
                            stye="positon:absolute;">
                            <div class="toast-header">
                                <strong class="mr-auto" id="toasttitle"></strong>
                                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast"
                                    aria-label="Close"></button>
                            </div>
                            <div class="toast-body"></div>
                        </div>
        </div>
</body>

<script type="text/javascript">

    function submit(e) {

        var text = document.getElementById("comment");

        if (text.value.length > 0) {

            document.getElementById("formgroup").submit();

        }
        else {
            alert("Please enter a reason.")
        }

    }

    document.getElementById("report-btn").addEventListener("click", submit);

</script>
